In [2]:
pip install mat73

Collecting mat73
  Downloading mat73-0.46-py3-none-any.whl (17 kB)
Collecting h5py
  Downloading h5py-3.1.0-cp39-cp39-win_amd64.whl (2.7 MB)
Collecting numpy
  Downloading numpy-1.20.0-cp39-cp39-win_amd64.whl (13.7 MB)
Installing collected packages: numpy, h5py, mat73
Successfully installed h5py-3.1.0 mat73-0.46 numpy-1.20.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\yeab0\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [8]:
pip install pandas

Collecting pandas
  Downloading pandas-1.2.1-cp39-cp39-win_amd64.whl (9.3 MB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\yeab0\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.20.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\yeab0\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Downloading pytz-2020.5-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: six>=1.5 in c:\users\yeab0\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.2.1 pytz-2020.5
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\yeab0\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [1]:
import mat73
X_speed = mat73.loadmat('C:/Users/yeab0/Desktop/work/X_speed.mat')
Y_speed = mat73.loadmat('C:/Users/yeab0/Desktop/work/Y_speed.mat')
Z_speed = mat73.loadmat('C:/Users/yeab0/Desktop/work/Z_speed.mat')

In [2]:
X_speed['ans']
Y_speed['ans']
Z_speed['ans']

array([[ 0.00000000e+00,  1.00000000e-02,  2.00000000e-02, ...,
         2.49800000e+01,  2.49900000e+01,  2.50000000e+01],
       [ 0.00000000e+00, -2.71518915e-25, -2.55898713e-25, ...,
        -4.76266390e-03, -4.74285835e-03, -4.75605208e-03]])

In [3]:
import pandas as pd

In [4]:
data = pd.DataFrame(X_speed['ans'])
data1 = pd.DataFrame(Y_speed['ans'])
data2 = pd.DataFrame(Z_speed['ans'])

In [5]:
data = data.transpose()
data1 = data1.transpose()
data2 = data2.transpose()

In [6]:
data[2]= data1[1]

In [10]:
data[3] = data[1]/(((data[1]**2)+(data[2]**2))**0.5)

In [11]:
data[4] = data[2]/(((data[1]**2)+(data[2]**2))**0.5)

In [12]:
data

          0             1             2         3         4
0      0.00  0.000000e+00  0.000000e+00       NaN       NaN
1      0.01 -3.103603e-22 -3.754858e-20 -0.008265 -0.999966
2      0.02 -5.983871e-22 -7.482708e-20 -0.007997 -0.999968
3      0.03 -8.976797e-22 -1.122418e-19 -0.007997 -0.999968
4      0.04 -1.196950e-21 -1.496563e-19 -0.007998 -0.999968
...     ...           ...           ...       ...       ...
2496  24.96 -4.567995e-04  1.400378e-05 -0.999530  0.030642
2497  24.97 -4.632632e-04  1.957148e-05 -0.999109  0.042209
2498  24.98 -4.563312e-04  4.941597e-05 -0.994188  0.107660
2499  24.99 -4.667471e-04  5.083813e-05 -0.994120  0.108280
2500  25.00 -4.827812e-04  5.952671e-05 -0.992484  0.122373

[2501 rows x 5 columns]

In [24]:
data[1].sum()*0.01

0.003843014514955021

In [25]:
data1[1].sum()*0.01

-0.0022151076578605356

In [19]:
data2[1].sum()*0.01

-0.09852092489723155

In [27]:
(abs(a) - abs(b))

0.0016279068570944854

In [ ]:
def changeName(self, filename, path, cName, datanum):
    try:
        os.rename(path + '/' + filename, path + '/' + str(cName) + str(datanum) + '.jpg')
    except FileExistsError:
        pass