In [44]:
import mat73
X_speed = mat73.loadmat('C:/Users/yeab0/Desktop/work/X_speed.mat')
Y_speed = mat73.loadmat('C:/Users/yeab0/Desktop/work/Y_speed.mat')
Z_speed = mat73.loadmat('C:/Users/yeab0/Desktop/work/Z_speed.mat')

In [45]:
X_speed['ans']
Y_speed['ans']
Z_speed['ans']

array([[ 0.00000000e+00,  1.00000000e-02,  2.00000000e-02, ...,
         2.49800000e+01,  2.49900000e+01,  2.50000000e+01],
       [ 0.00000000e+00, -2.71518915e-25, -2.55898713e-25, ...,
        -4.76266390e-03, -4.74285835e-03, -4.75605208e-03]])

In [46]:
import pandas as pd

In [47]:
data = pd.DataFrame(X_speed['ans']) # x축 각속도
data1 = pd.DataFrame(Y_speed['ans']) # y축 각속도
data2 = pd.DataFrame(Z_speed['ans']) # z축 각속도

In [48]:
data = data.transpose()
data1 = data1.transpose()
data2 = data2.transpose()

In [49]:
data[2]= data1[1] #y축 각속도

In [50]:
data[3]= data2[1] #z축 각속도

In [51]:
data[4] = data[1]/(((data[1]**2)+(data[2]**2)+(data[3]**2))**0.5) #x축 각속도 단위벡터화

In [52]:
data[5] = data[2]/(((data[1]**2)+(data[2]**2)+(data[3]**2))**0.5) #y축 각속도 단위벡터화

In [53]:
data[6] = data[3]/(((data[1]**2)+(data[2]**2)+(data[3]**2))**0.5) #z축 각속도 단위벡터화

In [54]:
data[7] = (data[4]**2)+(data[5]**2)+(data[6]**2) #  단위벡터 검증, x^2 + y^2 + z^2 =1

In [55]:
data

,0,1,2,3,4,5,6,7
0,0.00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
1,0.01,-3.103603e-22,-3.754858e-20,-2.715189e-25,-0.008265,-0.999966,-0.000007,1.0
2,0.02,-5.983871e-22,-7.482708e-20,-2.558987e-25,-0.007997,-0.999968,-0.000003,1.0
3,0.03,-8.976797e-22,-1.122418e-19,-3.820580e-25,-0.007997,-0.999968,-0.000003,1.0
4,0.04,-1.196950e-21,-1.496563e-19,-5.077731e-25,-0.007998,-0.999968,-0.000003,1.0
...,...,...,...,...,...,...,...,...
2496,24.96,-4.567995e-04,1.400378e-05,-4.767823e-03,-0.095372,0.002924,-0.995437,1.0
2497,24.97,-4.632632e-04,1.957148e-05,-4.755330e-03,-0.096960,0.004096,-0.995280,1.0
2498,24.98,-4.563312e-04,4.941597e-05,-4.762664e-03,-0.095372,0.010328,-0.995388,1.0
2499,24.99,-4.667471e-04,5.083813e-05,-4.742858e-03,-0.097932,0.010667,-0.995136,1.0
2500,25.00,-4.827812e-04,5.952671e-05,-4.756052e-03,-0.100982,0.012451,-0.994810,1.0

In [73]:
data_t

          0         1         2         3         4         5         6    7
522    5.22 -0.013053  0.004135  0.000402 -0.952904  0.301850  0.029348  1.0
523    5.23 -0.016679  0.004096  0.000381 -0.970902  0.238450  0.022153  1.0
524    5.24 -0.020177  0.006010  0.000332 -0.958273  0.285419  0.015752  1.0
525    5.25 -0.023584  0.005288  0.000344 -0.975677  0.218751  0.014243  1.0
526    5.26 -0.026565  0.008063  0.000389 -0.956798  0.290415  0.014012  1.0
...     ...       ...       ...       ...       ...       ...       ...  ...
2496  24.96 -0.000457  0.000014 -0.004768 -0.095372  0.002924 -0.995437  1.0
2497  24.97 -0.000463  0.000020 -0.004755 -0.096960  0.004096 -0.995280  1.0
2498  24.98 -0.000456  0.000049 -0.004763 -0.095372  0.010328 -0.995388  1.0
2499  24.99 -0.000467  0.000051 -0.004743 -0.097932  0.010667 -0.995136  1.0
2500  25.00 -0.000483  0.000060 -0.004756 -0.100982  0.012451 -0.994810  1.0

[1979 rows x 8 columns]

In [65]:
data_t = data[522:2501]

In [66]:
data_t[1].sum()*0.01

0.002614421472121115

In [67]:
data_t[2].sum()*0.01

-0.0018978467882814244

In [68]:
data_t[3].sum()*0.01

-0.09883849867848615

In [69]:
data_t[4].sum()*0.01

-0.6236382246188714

In [70]:
data_t[5].sum()*0.01

-0.09462643511197286

In [71]:
data_t[6].sum()*0.01

-13.727172446553334

In [72]:
data_t[7].sum()*0.01

19.79