In [84]:
import mat73
X_speed = mat73.loadmat('C:/Users/wjddm/Desktop/캡스톤/Scope_붙임/QuadRotor/work/X_speed.mat')
Y_speed = mat73.loadmat('C:/Users/wjddm/Desktop/캡스톤/Scope_붙임/QuadRotor/work/Y_speed.mat')
Z_speed = mat73.loadmat('C:/Users/wjddm/Desktop/캡스톤/Scope_붙임/QuadRotor/work/Z_speed.mat')

In [85]:
X_speed['ans']
Y_speed['ans']
Z_speed['ans']

array([[ 0.00000000e+00,  1.00000000e-02,  2.00000000e-02, ...,
         2.49800000e+01,  2.49900000e+01,  2.50000000e+01],
       [ 0.00000000e+00, -2.71518915e-25, -2.55898713e-25, ...,
        -4.76266390e-03, -4.74285835e-03, -4.75605208e-03]])

In [86]:
import pandas as pd

In [154]:
data = pd.DataFrame(X_speed['ans']) # x축 각속도
data1 = pd.DataFrame(Y_speed['ans']) # y축 각속도
data2 = pd.DataFrame(Z_speed['ans']) # z축 각속도

In [155]:
data = data.transpose()
data1 = data1.transpose()
data2 = data2.transpose()

In [156]:
data[2]= data1[1] #y축 각속도

In [157]:
data[3]= data2[1] #z축 각속도

In [158]:
data['x_unit_vector'] = data[1]/(((data[1]**2)+(data[2]**2)+(data[3]**2))**0.5) #x축 각속도 단위벡터화

In [159]:
data['y_unit_vextor'] = data[2]/(((data[1]**2)+(data[2]**2)+(data[3]**2))**0.5) #y축 각속도 단위벡터화

In [160]:

data['z_unit_vector'] = data[3]/(((data[1]**2)+(data[2]**2)+(data[3]**2))**0.5) #z축 각속도 단위벡터화

In [161]:
data = data[522:] #드론이 뜰때부터 자르기

In [162]:
data.reset_index() #인덱스 초기화

,index,0,1,2,3,x_unit_vector,y_unit_vextor,z_unit_vector
0,522,5.22,-0.013053,0.004135,0.000402,-0.952904,0.301850,0.029348
1,523,5.23,-0.016679,0.004096,0.000381,-0.970902,0.238450,0.022153
2,524,5.24,-0.020177,0.006010,0.000332,-0.958273,0.285419,0.015752
3,525,5.25,-0.023584,0.005288,0.000344,-0.975677,0.218751,0.014243
4,526,5.26,-0.026565,0.008063,0.000389,-0.956798,0.290415,0.014012
...,...,...,...,...,...,...,...,...
1974,2496,24.96,-0.000457,0.000014,-0.004768,-0.095372,0.002924,-0.995437
1975,2497,24.97,-0.000463,0.000020,-0.004755,-0.096960,0.004096,-0.995280
1976,2498,24.98,-0.000456,0.000049,-0.004763,-0.095372,0.010328,-0.995388
1977,2499,24.99,-0.000467,0.000051,-0.004743,-0.097932,0.010667,-0.995136
1978,2500,25.00,-0.000483,0.000060,-0.004756,-0.100982,0.012451,-0.994810

In [163]:
data = data.drop([data.columns[0]],axis=1)

In [164]:
data["x_integer"] = data[1]*0.01
data["y_integer"] = data[2]*0.01
data["z_integer"] = data[3]*0.01

In [165]:
data["x_integer"] = data["x_integer"].cumsum()
data["y_integer"] = data["y_integer"].cumsum()
data["z_integer"] = data["z_integer"].cumsum()

In [166]:
data

,1,2,3,x_unit_vector,y_unit_vextor,z_unit_vector,x_integer,y_integer,z_integer
522,-0.013053,0.004135,0.000402,-0.952904,0.301850,0.029348,-0.000131,0.000041,0.000004
523,-0.016679,0.004096,0.000381,-0.970902,0.238450,0.022153,-0.000297,0.000082,0.000008
524,-0.020177,0.006010,0.000332,-0.958273,0.285419,0.015752,-0.000499,0.000142,0.000011
525,-0.023584,0.005288,0.000344,-0.975677,0.218751,0.014243,-0.000735,0.000195,0.000015
526,-0.026565,0.008063,0.000389,-0.956798,0.290415,0.014012,-0.001001,0.000276,0.000018
...,...,...,...,...,...,...,...,...,...
2496,-0.000457,0.000014,-0.004768,-0.095372,0.002924,-0.995437,0.002633,-0.001900,-0.098648
2497,-0.000463,0.000020,-0.004755,-0.096960,0.004096,-0.995280,0.002628,-0.001899,-0.098696
2498,-0.000456,0.000049,-0.004763,-0.095372,0.010328,-0.995388,0.002624,-0.001899,-0.098744
2499,-0.000467,0.000051,-0.004743,-0.097932,0.010667,-0.995136,0.002619,-0.001898,-0.098791
2500,-0.000483,0.000060,-0.004756,-0.100982,0.012451,-0.994810,0.002614,-0.001898,-0.098838